<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <!--  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
  -->
<link rel="stylesheet" href="resources/bootstrap-3.3.6-dist/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div ng-controller="controller">
<div class="container"> 
    <div id="signin" class="mainbox col-sm-6 col-sm-offset-3">   
    <div class="panel panel-default" >
    <div class="panel-heading">
    <h3>Login Page</h3>
 
      <label for="UserName">Username:</label>
      <input type="text" class="form-control"   ng-model="username"  name="username"  required placeholder="Enter user name">
    
    
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" ng-model="password" name="password"  required  placeholder="Enter password">
    
   <button type="submit" ng-click ="loginn()">Signin</button>

</div>
</div>
</div>
</div>
</div>
</body>

</html>
